<%- include('partials/header') %>


    <div class="mainbox">
        <div class="err">4</div>
        <i class="far fa-question-circle fa-spin"></i>
        <div class="err2">4</div>
        <div class="msg">LOOKS LIKE AN ERROR OCCURED. WE WILL GET IT FIXED ASAP.
            <br>

            <form action="/ind" method="get">
                <p>Let's go <button type="submit" class="form-control">home</button> .</p>
            </form>
        </div>
    </div>



    <%- include('partials/footer') %>