<%- include('partials/header') %>




    <div class="mainbox">
        <div class="err">Verified</div>
        <br>


        <div class="msg">Your Order Has been placed and Shall arrive ASAP
            <form action="/ind" method="get">
                <p>Let's go <button type="submit" class="form-control fs-3 csBtn">home</button> for more orders.</p>
            </form>
        </div>



        <%- include('partials/footer') %>