<%- include('partials/header') %>




    <div class="mainbox">
        <div class="err">Wrong</div>
        <br>


        <div class="msg">LOOKS LIKE THE CARD DETAILS ARE WRONG
            <form action="/ind" method="get">
                <p>TRY AGAIN FROM <button type="submit" class="form-control fs-3 csBtn">home</button> </p>
            </form>
        </div>



        <%- include('partials/footer') %>