
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    
}
.jic{
    justify-content: center;
    align-items: center;
    display: flex;
}
td,th{
    padding: 15px;
    text-align: center;
    border: 1px solid black;
}